/* =========================
    css reset
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
    Root Variable
========================= */
:root {
    --primary-color: #1D4ED8;
    --seoundary-color: #0D1B2A;
    --light-color: #FFFFFF;
    --text-dark2-color: #575757;


    --font-Arimo: "Arimo", sans-serif;
    --font-Inter: "Inter", sans-serif;
}

/* =========================
    global css
========================= */

a {
    text-decoration: none;

}

ul,
li {
    list-style: none;

}

img {
    max-width: 100%;
}


/* =========================
    utility class css
========================= */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.common-btn {
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-family: var(--font-Inter);
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: ease-in 0.3s;

}

.common-btn:hover {
    background-color: var(--seoundary-color);
    color: var(--light-color);


}

/* =========================
    header & Navigation css
========================= */
header {
    background-color: #ddd;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
    flex-wrap: wrap;
}

.logo {
    max-width: 150px;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0;


}

nav ul li a {
    padding: 0.5rem 1rem;
    color: var(--text-dark2-color);
    transition: all ease-in 0.3s;
    font-size: 1rem;
    font-family: var(--font-Arimo);
    font-weight: 600;
    text-transform: capitalize;
}

nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--light-color);

}



/* =========================
    hero-area css
========================= */
#hero-area {
    background: url('./assets/img/banner.jpg');
    max-width: 100%;
    min-height: 85vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.hero-content {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hero-item {
    text-align: center;
    max-width: 75%;
    margin: 0 auto;

}

.hero-item h1 {
    color: var(--light-color);
    font-size: 80px;
    font-family: var(--font-Inter);
    font-weight: 700;

}

.hero-item h1 span {
    font-style: italic;
}

.hero-item p {
    /* max-width: 50%; */
    margin: 0 auto;
    color: var(--light-color);
    font-size: 1.25rem;
    font-family: var(--font-Inter);
    padding: 1rem 5rem;

}

.hero-btn{
    padding: 0.8rem 3rem;
}

/* =========================
    css reset
========================= */